.c-pointer{
    cursor: pointer;
}

.no-marg{
    margin: 0;
}

.img-holder .modal-content{
    background-color: transparent!important;
    border: none!important;
}
.card-header .btn-sm{
    padding: 0.10rem 0.5rem;
}

.question .q-holder{
 border-bottom: 1px solid #dbdbdb;
 padding-bottom: 1em;
 margin-bottom: 1em;
 
}


.m-bottom-sm{
    margin-bottom: .5em;
}



.sub-question{
    border-left: 3px solid #dbdbdb;
    padding-left: 1em;
    margin-left: 1em;
}



.sub-question .q-holder{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}