<div class="row">
  <div class="col-9">
    <survey-question-form
      [formValue]="activeQuestion"
      (formSubmit)="saveQuestion($event)"></survey-question-form>
  </div>
  <div class="col-3">
      <ul class="list-group">
        <li *ngFor="let ques of questions; let i = index"
            [ngClass]="{'active' : i == activeIndx }"
            (click)="updateActiveIndex(i)"
            class="list-group-item c-pointer">{{ques.question_caption}}</li>
      </ul>
  </div>
</div>


<pre>
  {{questions | json}}
</pre>