<div class="row">
  <div class="col-md-2">
      <ul class="list-group">
        <li *ngFor="let ques of questions; let i = index"
            [ngClass]="{'active' : i == activeIndx }"
            (click)="updateActiveIndex(i)"
            class="list-group-item c-pointer">
            <div class="truncate">
              {{ques.question_caption }}
            </div>
        </li>
        <li class="list-group-item c-pointer add-item"
            (click)="addParentQuestion(content)">
            <i class="icon-plus"></i>&nbsp;Add Question
        </li>
      </ul>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md 9">
        <h4 class="reset">Question</h4>
        <div class="text-muted">Item {{activeIndx + 1}} of {{questions.length}}</div>
        <survey-question-form
          [formValue]="activeQuestion"
          (formSubmit)="saveQuestion($event)"></survey-question-form>
        <hr>
      </div>
      <div class="col-md-3" *ngIf="hasOptions">
        <h4 class="reset">Options</h4>
        <div class="text-muted">{{activeQuestion.options.length}} active options.</div>
        <option-form *ngFor="let opt of activeQuestion.options"
                  [formValue]="opt"
                  (formSubmit)="saveOption($event)"></option-form>
        <button class="btn btn-outline-success btn-block c-pointer"
                (click)="addOption(content)">
          <i class="icon-plus"></i>
          Add Option
        </button>
      </div>
    </div>
    <div>
      <h4 class="reset">Sub Questions</h4>
      <div *ngFor="let sub of activeQuestion.childrens; let i = index">
        <div class="text-muted">Sub questions {{i + 1}} of {{activeQuestion.childrens.length}}</div>
        <div class="row" >
          <div class="col-md-9">
              <survey-question-form
                [formValue]="sub"
                (formSubmit)="saveQuestion($event)"></survey-question-form>
          </div>
          <div class="col-md-3">
              <option-form *ngFor="let opt of sub.options"
                [formValue]="opt"
                (formSubmit)="saveOption($event)"></option-form>
              <button class="btn btn-outline-success btn-block c-pointer"
                  (click)="addOption(content)">
                  <i class="icon-plus"></i>
                  Add Option
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      <span *ngIf="modalForm === 0">
        Add&nbsp;<span *ngIf="formTemplate.question_parent">Sub&nbsp;</span>Question
      </span>
      <span *ngIf="modalForm === 1">
          Add Option
      </span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <survey-question-form
        *ngIf="modalForm === 0"
        [formValue]="formTemplate"
        (formSubmit)="saveQuestion($event)"></survey-question-form>

      <option-form
        *ngIf="modalForm === 1"
        [formValue]="formTemplate"
        (formSubmit)="saveOption($event)"></option-form>
  </div>
</ng-template>
