.list-group-item {
    padding: 0.50rem 0.75rem;
}

.active.c-pointer {
    cursor: default;
}

.add-item {
    text-align: center;
    color: #5cb85c;
    border-color: #5cb85c!important;
}

.add-item:hover {
    background-color: #4dbd74;
    color: #fff;
}



