<form action=""  [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <input type="hidden" [formGroup]="form"
                         formControlName="id">
    <input type="hidden" [formGroup]="form" formControlName="survey_isactive">
    <input type="hidden" [formGroup]="form" formControlName="survey_isdeleted">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label for="survey_title">Survey Title</label>
                <input type="text" class="form-control" id="survey_title" placeholder="Enter Survey Title" 
                    [formGroup]="form"
                    formControlName="survey_title">    
                    <small *ngIf="form.controls['survey_title'].touched &&
                                form.controls['survey_title'].hasError('required')" 
                        class="form-text text-danger">This is a required field.</small>
            </div>
        </div>
        <div class="col-md-2">
            <label for="survey_isfeatured">Featured</label>
                <select class="form-control" 
                    [formGroup]="form"
                    formControlName="survey_isfeatured">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <small *ngIf="form.controls['survey_isfeatured'].touched &&
                                form.controls['survey_isfeatured'].hasError('required')" 
                        class="form-text text-danger">This is a required field.</small>
        </div>
    </div>
    

    <div class="form-group">
        <label for="survey_category_id">Category</label>
        <select class="form-control" 
            [formGroup]="form"
            formControlName="survey_category_id">
            <option value="">Please select</option>
            <option *ngFor="let category of categories" value="{{category.id}}">{{category.category_name}}</option>
        </select>
        <small *ngIf="form.controls['survey_category_id'].touched &&
                          form.controls['survey_category_id'].hasError('required')" 
                class="form-text text-danger">This is a required field.</small>
    </div>

    <div class="form-group">
        <label for="survey_type_id">Type</label>
        <select class="form-control"
            [formGroup]="form"
            formControlName="survey_type_id">
            <option value="">Please select</option>
            <option *ngFor="let type of types" value="{{type.type_id}}">{{type.type_name}}</option>
        </select>
        <small *ngIf="form.controls['survey_type_id'].touched &&
                          form.controls['survey_type_id'].hasError('required')" 
                class="form-text text-danger">This is a required field.</small>
    </div>
    
    <button type="submit" [disabled]="form.pending" class="btn btn-primary">
        {{ btnLabel }}
    </button>
    <!-- <button class="btn btn-success" (click)="open(content)">Publish</button>
    <hr>
    <p class="text-muted no-marg">Survey Validity</p>
    <app-survey-duration 
        *ngFor="let duration of survey.durations"
        [duration]="duration">
    </app-survey-duration> -->
</form>


<!-- 
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Publish Survey</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-survey-duration >
        </app-survey-duration >
  </div>
</ng-template> -->