
<form action=""  [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <input type="hidden" [formGroup]="form" formControlName="survey_id">
    <input type="hidden" [formGroup]="form" formControlName="question_id">

    <div class="form-group">
        <label for="question_caption">Caption</label>
        <input type="text" class="form-control" id="question_caption" placeholder="Enter Survey caption" 
            [formGroup]="form"
            formControlName="question_caption">    
            <small *ngIf="form.controls['question_caption'].touched &&
                        form.controls['question_caption'].hasError('required')" 
                class="form-text text-danger">This is a required field.</small>
    </div>   
    <div class="form-group">
        <label for="option_type">Question type</label>
        <select name="" class="form-control" id="option_type"
                [formGroup]="form"
                formControlName="option_type">
            <option value="">Please Select</option>
            <option value="check">Checkbox</option>
            <option value="radio">Radio</option>
        </select>

        <small *ngIf="form.controls['option_type'].touched &&
                    form.controls['option_type'].hasError('required')" 
            class="form-text text-danger">This is a required field.</small>
    </div>   
    <button type="submit" class="btn btn-primary">{{btnLabel}}</button>
</form>




