<ngb-tabset [activeId]="activeTab">
    <ngb-tab [id]="'survey'">
        <ng-template ngbTabTitle>
            <i class="icon-note"></i>&nbsp;Survey
        </ng-template>
        <ng-template ngbTabContent>
            <sur-form *ngIf="survey"
                [btnLabel]="'Update'"
                [survey]="survey"
                (formSubmit)="updateSurvey($event)"></sur-form> 
        </ng-template>
    </ngb-tab>
    <ngb-tab [id]="'questions'">
        <ng-template ngbTabTitle>
            <i class="icon-layers"></i>&nbsp;Questions
        </ng-template>
        <ng-template ngbTabContent>
            <survey-question-carousel
                *ngIf="survey"
                [surveyId]="survey.id"
                [questions]="survey.questions"
                (formSubmitted)="save($event)"></survey-question-carousel>
        </ng-template>
    </ngb-tab>
    <ngb-tab [id]="'durations'">
        <ng-template ngbTabTitle>
            <i class="icon-wrench"></i>&nbsp;Duration
        </ng-template>
        <ng-template ngbTabContent>
            <h4 class="reset">Duration</h4>
            <div class="text-muted">Survey Durations</div>
            <br>
            <div *ngIf="survey">
                <sur-duration-form-list 
                    [surveyId]="survey.id"
                    [durations]="survey.durations"
                    (formSubmitted)="saveDuration($event)"></sur-duration-form-list>
            </div>
        </ng-template>
    </ngb-tab>
  </ngb-tabset>